* {
   padding: 0px;
   margin: 0px;
   font-family: 'Rubik', Verdana, sans-serif;
}
header{
   display:block;
}
header .jumbotron{
   display: flex;
   background-color: skyblue;
   padding:20px;
   justify-content:center;
   align-items:center;
}
header .navbar {
   display:block;
   width: 100%;
   height: max-content;
}
header .navbar .nav-ul{
   display:flex;
   gap: 20px;
   border-bottom: 1px solid gray;
}
.title-article{
   margin-bottom: 10px;
}

.tab-content p {
   line-height: 1.5em;
}
.nav-ul a {
   padding:20px;
}
.nav-ul a.bor-bot {
   border-bottom: 2px solid blue;
   color: blue;
}
.nav-ul a{
   text-decoration: none;
   color:gray;
}
footer{
   display: flex;
   justify-content: center;
   align-items:center;
   padding: 10px; 
   background-color: steelblue;
   color: white;
   font-size: bold;
}

.tab-content{
   display: none;
}
.active-tab {
   display:block;
}
@media only screen and (min-width: 991px){

   .content {
   display:flex;
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
   height: 100vh;
   }
   main {
      width: 70%;
      height: max-content;
      margin-right: 20px;
      padding: 10px;
      box-shadow: 1px 4px 5px 0px gray;
      border-radius: 10px;
   }
   aside{
      width:30%;
      height: max-content;
      padding: 10px;
      box-shadow: 1px 4px 5px 0px gray;
      border-radius: 10px;
   }
   .nav-ul a:last-child {
      display:none;
   }
   #active4 {
      display: none;
   }
   .profile{
      text-align: center;
   }
   .profile-img{
      display:block;
      width: 50%;
      margin: 20px auto;
   }
   .all-contact-card{
      display: flex;
      flex-direction: column;
   }
   .contact-img{
      width: 30px;
   }
   .contact-card{
      display: flex;
      margin:10px auto;
      box-shadow: 1px 4px 5px 0px gray;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      height: max-content;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color:white;
   }
   .contact-card:first-child{
      background-color: rgba(255,0,0,0.6);
   }
   .contact-card:last-child{
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   }
}
@media only screen and (max-width: 990px){
   .navbar {
      border-bottom: 1px solid gray;
   }
   .nav-ul {
      width: max-content;
      margin: 0px auto;
      border: none;
   }
   .content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100vh;
      padding: 0px 20px;
      margin: 20px 0px;
      box-sizing: border-box;
      align-content: space-between;
   }
   main {
      width: 100%;
      padding: 10px;
      box-shadow: 1px 4px 5px 0px gray;
      border-radius: 10px;
   }
   aside {
      display: none;
   }
   .nav-ul a:last-child {
      display:block;
   }
   .profile{
      text-align: center;
   }
   .profile-img-tab{
      display:block;
      width: 150px;
      margin: 20px auto;
   }
   .all-contact-card{
      display: flex;
      flex-direction: column;
   }
   .contact-img{
      width: 30px;
   }
   .contact-card{
      display: flex;
      margin:10px auto;
      box-shadow: 1px 4px 5px 0px gray;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      height: max-content;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color:white;
   }
   .contact-card:first-child{
      background-color: rgba(255,0,0,0.6);
   }
   .contact-card:last-child{
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   }
}
@media only screen and (min-width: 613px){
   
   .all-skill-card{
      display: flex;
      width: 100%;
      gap:5px;
      flex-wrap: wrap;
   }
   .skill-card{
      display: flex;
      flex-direction: column;
      width: 32.3333%;
      margin:10px auto;
      box-shadow: 1px 4px 5px 0px gray;
      padding: 10px;
      border-radius: 10px;
      height: max-content;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      color:gray;
      text-align: center;
   }
   .skill-img {
      width: 60px;
      margin-bottom: 20px;
   }
}
@media only screen and (max-width: 612px){
   .all-skill-card{
      display: flex;
      width: 100%;
      gap: 20px;
      flex-wrap: wrap;
   }
   .skill-card{
      display: flex;
      flex-direction: column;
      width: 70%;
      margin:1px auto;
      box-shadow: 1px 4px 5px 0px gray;
      padding: 10px;
      border-radius: 10px;
      height: 150%;
      align-items: center; 
      text-align: center;
      box-sizing: border-box;
      color:gray;
   }
   .skill-img {
      width: 60px;
      margin-bottom: 20px;
   }
   .content {
      height: max-content;
      margin-bottom: 100px;
   }
}
